<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#990000">
    <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css' }}"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/cayman.css">
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js">
    </script>
  </head>